# Housing Notebook <br> ~Ram Adesara

---

### This notebook will examine housing in Pittsburgh, specifically, the percentage of occupied units, the median home value, and the established average years of residence. These factors, out of all the factors in the dataset, were the top three ones, according to a survey we conducted on Google Forms.

## The Dataset

In [46]:
import pandas as pd

%matplotlib inline

import numpy as np

data = pd.read_csv("https://data.wprdc.org/dataset/40188e1c-6d2e-4f20-9391-607bd3054949/resource/9890875b-c1d1-4e64-8fc9-a4a8dc433745/download/housing.csv", index_col = "Neighborhood")

data.head(10)

# % Occupied Units
# Median Home Value
# Est. Avg. Years of Residence

,Sector #,Population (2010),Total # Units (2000),Total # Units (2010),% Occupied Units (2010),% Vacant Units (2010),# Occupied Units (2010),% Owner Occupied Units (2010),% Renter Occupied Units (2010),Est. Avg. Yrs. of Residence (2010),...,% Units Built before 1939,Median Home Value (2000),Med. Val. ('00 in '10 Dollars),Median Home Value (2010),% Change Real Value 2000-2010,Median Sale Price (2010),# Sales Counted (2010),Foreclosures (2008),Foreclosures (2010),% of all Housing Units Foreclosed (2010)
Neighborhood,,,,,,,,,,,,,,,,,,,,,
Allegheny Center,3,933,675,"1,052",51.5%,48.5%,535,10.1%,89.9%,0,...,1.3%,"$86,500","$109,535","$136,300",24.4%,NaN,0,0,0,0.0%
Allegheny West,3,462,390,355,74.9%,25.1%,203,18.2%,81.8%,15,...,57.4%,"$159,700","$202,228","$123,600",-38.9%,"$309,940",7,0,1,0.3%
Allentown,6,"2,500","1,505","1,291",80.0%,20.0%,953,59.2%,40.8%,5,...,62.9%,"$34,300","$43,434","$42,200",-2.8%,"$8,500",70,27,11,0.9%
Arlington,7,"1,869",880,886,86.6%,13.4%,754,65.4%,34.6%,11,...,72.3%,"$38,800","$49,132","$44,200",-10.0%,"$15,397",34,12,13,1.5%
Arlington Heights,7,244,557,148,91.2%,8.8%,139,18.7%,81.3%,2,...,9.2%,"$45,000","$56,984","$64,400",13.0%,NaN,0,0,0,0.0%
Banksville,5,"4,144","2,203","2,118",95.4%,4.6%,"2,093",49.9%,50.1%,5,...,4.6%,"$87,200","$110,421","$110,900",0.4%,"$101,431",40,7,5,0.2%
Bedford Dwellings,15,"1,202","1,049",746,87.3%,12.7%,695,7.6%,92.4%,2,...,38.6%,"$17,200","$21,780","$81,100",272.4%,$200,1,0,1,0.1%
Beechview,5,"7,974","4,048","3,939",89.3%,10.7%,"3,518",58.7%,41.3%,6,...,42.7%,"$56,150","$71,103","$72,400",1.8%,"$36,068",128,64,40,1.0%
Beltzhoover,6,"1,925","1,298","1,085",73.5%,26.5%,849,73.5%,26.5%,17,...,67.4%,"$34,000","$43,054","$36,000",-16.4%,"$2,744",39,12,11,1.0%
Bloomfield,12,"8,442","5,432","5,136",89.0%,11.0%,"4,924",36.7%,63.3%,3,...,73.0%,"$60,560","$76,687","$92,840",21.1%,"$99,250",118,18,12,0.2%

asdfasdfasdfasdf

## Percentage Occupied Units Analysis

In [44]:
# % Occupied Units
# Median Home Value
# Est. Avg. Years of Residence

occupied = data["% Occupied Units (2010)"]

# strips the % symbol and makes the numbers floats
count = 0
for x in occupied:
    x = str(x).rstrip('%')
    data.iloc[count, 4] = float(x)
    count+=1

    
# mean is calculated
mean = occupied.mean()

# only values a certain quantity less than the mean are printed
c = 0
for x in occupied:
    # put the special fraction here, based on the survey (out of 5)
    if x < mean*0.93:
        print(x)
        c+=1

print("\n")
print(c)
print("\n")

51.5
74.9
73.5
72.7
78.9
76.9
71.6
71.6
77.8
78.6
74.2
78.5
63.6
76.5
66.7
74.6
50.3
74.5


18

In [53]:
# Tried visualization with graphs, didn't work

# create some random categorical data
df2 = pd.DataFrame(np.random.randint(1,100,size=(90,90)), 
                   columns=data["Median Home Value (2000)"], 
                   index=data["% Occupied Units (2010)"])

# Plot a bar chart
df2.plot(kind="bar")

KeyError: nan

asdfasdfasdfasdf

## Median Home Value Analysis

In [13]:
value = data["Median Home Value (2000)"]

count = 0
for x in value:
    x = str(x).rstrip('$')
    data.iloc[count] = float(x)

mean = value.mean()

c = 0
for x in value:
    if x > mean:
        print(x)
        c+=1
        
print("\n")
print(c)
print("\n")

13.0
15.0
11.0
17.0
15.0
9.0
8.0
32.0
7.0
30.0
9.0
10.0
7.0
8.0
7.0
7.0
8.0
12.0
15.0
7.0
7.0
12.0
19.0
16.0
7.0
10.0
8.0
8.0
13.0
7.0
16.0
7.0
9.0
10.0
12.0
10.0
9.0
13.0


38

## Established Average Years of Residence Analysis

In [15]:
residence = data["Est. Avg. Yrs. of Residence (2010)"]

count = 0
for x in residence:
    x = str(x)
    data.iloc[count] = float(x)
    count+=1
    
mean = residence.mean()

c = 0
for x in residence:
    if x > mean*1.7:
        print(x)
        
        c+=1
        print(residence[c])
        
print("\n")
print(c)
print("\n")

13.0
15.0
15.0
5.0
17.0
11.0
15.0
2.0
32.0
5.0
30.0
2.0
12.0
6.0
15.0
17.0
12.0
3.0
19.0
0.0
16.0
15.0
13.0
5.0
16.0
9.0
12.0
5.0
13.0
8.0


15

asdfasdfasdfasdf

## Conclusion